body {
    background-color: #f8edeb;
}

nav {
    color: #ffb703;
    background-color: #023047;
}

.ly-text {
    color: #ffb703;
}

.ly-text:hover {
    color: #fb8500;
}

.card:hover {
    border: 5px solid #ffb703;
    color: #023047;
    
}

.card {
    color: #219ebc;
}

a:link {
    text-decoration: none;
}


img{
    border-radius: 50%;
}
.offcanvas {
    background-color: #023047;
}

.list-group-item {
    background-color: #8ecae6;
}

.list-group-item:hover {
    background-color: #023047;
    color: #ffb703;
}

.db-text {
    color: #023047;
}


.wy-text {
    background-color: #023047;
    color: white;
    border: none;
}
.db-bg {
    background-color: #023047;
}

